*{
	margin: 0;
}
body{
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #202028;
        color: #fff;
        font-family: sans-serif;
}
canvas{
	background-color: black;
	margin:0;
	margin-top: 1rem;
	position: center;
	background-position: center;
	border: solid .2em #fff;
        height: 60vh;
}

#total{
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

#score {
	padding : 1rem 0.5rem;
	border: 2px solid #fff;
	margin: 0;
	margin-top: 0.5rem;
	
}

#headig {
	width: 100vw;
	background-color: white;
	color : #202028;
	padding-top:0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}
#goback{
	text-align: center;
	font-family: Asap , sans-serif;
	font-size: 20px;
	border : 1px solid #464647;
	border-radius: 5px;
	box-shadow: 0 0 10px #25292b;
	margin: 30px auto;
	width: 200px;
	color:white;
}

#goback:active{
	box-shadow:  0 0 0 #464647;
	border : 0.1px solid #464647;
}
a{
	text-decoration: none;
}
