*{
	margin: 0;
}
html body{
	margin: 0;
	width: 100vw;
	height: 100vh;
}

#nav{
	margin: 0;
	background-image : url("https://www.akamai.com/uk/en/multimedia/images/intro/image-manager-intro.png?imwidth=1366");
	background-attachment : fixed;
	background-size : cover;
	background-position: center;
	background-repeat : no-repeat;
	min-height: 100vh;
}
