*{
	margin: 0;
}

body {
        background: #202028;
        color: #fff;
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;

    } 
canvas {
        border: solid .2em #fff;
        height: 70vh;
      }
#cotaier{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#headig {
		width: 100vw;
		background-color: white;
		color : #202028;
		padding-top:0.5rem;
		padding-bottom: 0.5rem;
		text-align: center;
		margin: 0;

	}
#score{
	padding: 0.5rem 1rem;
	width:10%;
	text-align: center;
	border: 2px solid #fff;
	margin:  0.5rem 0;

	}

#goback{
	text-align: center;
	font-family: Asap , sans-serif;
	font-size: 20px;
	border : 1px solid #464647;
	border-radius: 5px;
	box-shadow: 0 0 10px #25292b;
	margin: 30px auto;
	width: 200px;
	color:white;
}

#goback:active{
	box-shadow:  0 0 0 #464647;
	border : 0.1px solid #464647;
}
	
a{
	text-decoration: none;

}




	